/* NavBurger.css */
.menu-content.closed {
    display: none;
  }

  .menu-content.open {
    display: block;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }